:root {
  --primaryColor: #1dc1f8;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #2d2d2d;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 2px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

.defaultHero,
.roomsHero {
  min-height: calc(100vh - 66px);
  background: url("./images/defaultBcg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.roomsHero {
  background-image: url("./images/room-2.jpeg");
  min-height: 60vh;
}

.banner {
  font-family: "Pavanam";
  display: inline-block;
  background: rgba(90, 186, 198, 0.72);
  color: var(--mainWhite);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 3px;
}

.banner h1 {
  font-size: 2.5rem;
}

.banner div {
  width: 10rem;
  height: 5px;
  background: #06535f;
  margin: 1.7rem auto;
}

.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}

.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}

.btn-secondary {
  display: inline-block !important;
  text-decoration: none !important;
  letter-spacing: var(--mainSpacing) !important;
  color: #fff !important;
  background: #1dc1f8 !important;
  padding: 0.4rem 0.9rem !important;
  border: 3px solid #1dc1f8 !important;
  transition: var(--mainTransition) !important;
  text-transform: uppercase !important;
  cursor: pointer !important;
  line-height: 1.75 !important;
  box-shadow: none !important;
  border-radius: 4px;
  font-size: medium;
}

.btn-secondary:hover {
  background: #2c88c0 !important;
  color: #fff !important;
  border: 3px solid #2c88c0 !important;
}

.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}

.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}

.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}

.section-title {
  text-align: center;
  margin-bottom: 2.5rem;
}

.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin: 0;
  padding: 25px 0;
}

.section-title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: var(--primaryColor);
}

/* Services */

.serviceContent {
  border-top: 1px solid #f5f5f5;
  background-color: #f9f9f9;
  padding-bottom: 40px;
}

.services {
  padding: 1rem 0;
}

.services {
  /* background: var(--darkGrey); */
  text-align: center;
}

.services-center h6 {
  font-size: 13px;
}

.services-center h5 {
  padding: 10px 0 12px;
  text-transform: capitalize;
}

.services-center svg {
  width: 2em;
  height: 2em;
  fill: #1dc1f8;
}

/* room */
.room {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
}
.room:hover {
  box-shadow: var(--darkShadow);
}

.img-container {
  position: relative;
}
.img-container img {
  width: 100%;
  display: block;
  transition: var(--mainTransition);
  height: 15rem;
  object-fit: cover;
}
.price-top {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: var(--mainWhite);
  padding: 0.3rem 0.6rem 0.5rem;
  border-bottom-right-radius: 1rem;
  font-size: 0.5rem;
  text-align: center;
  transition: var(--mainTransition);
}
.price-top h6 {
  margin: 5px 0 0 0;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: var(--mainSpacing);
}
.room-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
}
.img-container:hover {
  background: rgba(0, 0, 0, 0.8);
}
.img-container:hover img {
  opacity: 0.3;
}
.img-container:hover .price-top {
  opacity: 0;
}
.img-container:hover .room-link {
  transform: translate(-50%, -50%) scale(1);
}
.room-info {
  background: #1dc1f8;
  text-transform: capitalize;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
  color: #fff;
}
/* end of room  */

/* single room*/

.single-room {
  padding: 5rem 0 0 0;
}

.single-room-images {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}

.single-room-images img {
  width: 100%;
  display: block;
}

.single-room-info {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem auto;
}

.desc,
.info {
  margin: 1rem 0;
}

.desc h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.desc p {
  line-height: 1.5;
}

.info h3,
.info h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.info h6 {
  font-weight: 300;
}

.room-extras {
  width: 80vw;
  margin: 0 auto 3rem auto;
}

.room-extras h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.extras {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}
/* @media screen and (min-width: 992px) {
  .single-room-images,
  .single-room-info,
  .room-extras {
    width: 95vw;
    max-width: 1170px;
  }
  .single-room-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
  .info {
    padding-left: 3rem;
  }
} */
/* end of single room*/

.roomPriceLabel {
  padding: 0.6rem 0 1rem 0;
}

.roomPriceSlider {
  width: 80% !important;
}

.roomSizeLabel {
  padding: 0.5rem 0 0rem 0;
}

.socialIcons {
  text-align: right;
}

.mb-30 {
  margin-bottom: 40px !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.scroll-to-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  /* animation: fadeIn 700ms ease-in-out 1s both; */
  cursor: pointer;
  background: #ffb600;
  padding: 0.4rem;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 9;
  color: #fff;
}

.slider {
  position: relative;
  height: 80vh;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.3s ease;
}

.slide h1,
.slide h2,
.banner h1 {
  color: #222;
  text-shadow: 2px 2px 1px #8acedc;
}

.slide p {
  color: #222;
  font-weight: bold;
}

.slide.active {
  opacity: 1;
  transition-duration: 0.2s;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.moveTo {
  position: absolute;
  bottom: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.moveTo svg {
  font-size: 2rem !important;
  color: #fff;
  background: #ffb600;
  padding: 5px;
  border-radius: 3px;
}

@media only screen and (max-width: 480px) {
  .breakfastPetsContainer {
    display: flex !important;
    justify-content: space-around;
    flex-direction: row !important;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .breakfastPetsContainer {
    display: flex !important;
    justify-content: space-around;
    flex-direction: row !important;
    /* padding: 1rem 0 0 4rem !important; */
  }
}
